In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
import csv
data = pd.read_csv('/content/drive/MyDrive/PE/Dades/2019_04-2023-01_qualitat_aire.csv')
keys = pd.read_csv('/content/drive/MyDrive/PE/Dades/qualitat_aire_contaminants.csv')

In [26]:
data_uniq = data['CODI_CONTAMINANT'].unique()
keys_uniq = keys['Codi_Contaminant'].unique()
not_in_keys = [x for x in data_uniq if x not in keys_uniq]
print(data_uniq)
print(keys_uniq)
print(not_in_keys)

[  2 996 997 901 101 106 107 108 109 110 112 114]
[  1   7   8   9  12  14   6  10  22 999 998 997 996]
[2, 901, 101, 106, 107, 108, 109, 110, 112, 114]

In [17]:
keys

    Codi_Contaminant                Desc_Contaminant Unitats
0                  1                             SO2   µg/m³
1                  7                              NO   µg/m³
2                  8                             NO2   µg/m³
3                  9                           PM2.5   µg/m³
4                 12                             NOx   µg/m³
5                 14                              O3   µg/m³
6                  6                              CO   mg/m³
7                 10                            PM10   µg/m³
8                 22                    Black Carbon   µg/m³
9                999           Biomassa Black Carbon       %
10               998  Flow C (Mesura interna equip)
11               997   Flow 1 (Mesura interna equip)     NaN
12               996   Flow 2 (Mesura interna equip)     NaN